@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap");
body {
  margin: 0px;
  font-family: Poppins, Helvetica, sans-serif;
}

/*Navigation bar styling*/
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  transition-duration: 0.3s;
  position: relative;
}
.topnav a:hover {
  color: white;
}
.topnav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 80%;
  height: 2px;
  top: 37px;
  left: 14px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.topnav .home::before {
  width: 66%;
}
.topnav .drive::before {
  width: 69%;
}
.topnav .mission::before {
  width: 76%;
}
.topnav .login::before {
  background-color: transparent;
}
.topnav .login:hover {
  background-color: white;
  color: black;
}

.topnav a:hover::before {
  transform: scaleX(1);
}
.topnav a.home {
  background-color: #003366;
}
.topnav a.login {
  float: right;
  margin-right: 0px;
}

/*img*/
.selection {
  height: 350px;
  overflow: hidden;
  object-fit: fill;
  position: relative;
}
.selection img.simg {
  width: 100%;
}

/*main*/
.bookride {
  position: relative;
  background-color: white;
  top: 50px;
  left: 30px;
  height: 350px;
  width: 570px;
  padding-left: 20px;
}
.bookride .headerbr {
  margin-top: 10px;
}

.sidenav {
  position: absolute;
  height: 350px;
  width: 0;
  z-index: 1;
  top: 0;
  left: 590px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}
#flocation1 {
  position: absolute;
  height: 40px;
  width: 400px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  outline: none;
  padding-left: 10px;
  top: 120px;
  font-size: medium;
}
#openmap1 {
  position: absolute;
  border: 2px solid black;
  background-color: white;
  float: left;
  top: 121px;
  margin-left: 420px;
  width: 41px;
  height: 40px;
  padding: 5px;
}

.bookride .dltext {
  position: absolute;
  top: 180px;
}

#flocation2 {
  position: absolute;
  height: 40px;
  width: 400px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  padding-left: 10px;
  top: 240px;
  outline: none;
  font-size: medium;
}
#openmap2 {
  position: absolute;
  border: 2px solid black;
  background-color: white;
  float: left;
  top: 241px;
  margin-left: 420px;
  width: 41px;
  height: 40px;
  padding: 5px;
}

/*map stuff*/
.sidenav #us2 {
  height: 100%;
  width: 100%;
}

.vehicletxt {
  border-top: 1px solid black;
  margin-top: 80px;
  padding-left: 50px;
}

.vehicle #suv {
  font-family: Poppins;
  font-weight: 1000;
  margin-left: 50px;
  display: inline-flex;
  height: 140px;
  width: 42%;
  padding: 0;
  background: rgba(206, 205, 205, 0.849);
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.3s;
}

.vehicle #suv .vheader {
  align-items: center;
  display: inline-flex;
  padding: 0 24px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: -130px;
}
.vehicle #suv img {
  padding: 20px 0;
  padding-left: 15px;
}
.vehicle #suv .sec-text {
  margin-top: 0px;
  font-size: 17px;
  padding: 0 24px;
}
.vehicle #suv:hover {
  background-color: rgba(185, 184, 184, 0.849);
}
.vehicle #suv:focus {
  color: white;
  background-color: #003366;
}

.vehicle #van {
  font-family: Poppins;
  font-weight: 1000;
  margin-left: 50px;
  display: inline-flex;
  height: 140px;
  width: 42%;
  padding: 0;
  background: rgba(206, 205, 205, 0.849);
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.3s;
  margin-right: 50px;
}

.vehicle #van .vheader {
  align-items: center;
  display: inline-flex;
  padding: 0 24px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: -130px;
}
.vehicle #van img {
  padding: 20px 0;
  padding-left: 15px;
}
.vehicle #van .sec-text {
  margin-top: 0px;
  font-size: 17px;
  padding: 0 24px;
}
.vehicle #van:hover {
  background-color: rgba(185, 184, 184, 0.849);
}
.vehicle #van:focus {
  color: white;
  background-color: #003366;
}

/*details div*/
.detailstxt {
  border-top: 1px solid black;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 50px;
}

.price,
.ett,
.eta {
  padding-left: 50px;
  font-size: 20px;
  font-weight: 400;
}

/*payment header*/
.paymenttxt {
  border-top: 1px solid black;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 50px;
}

.cash {
  background-color: rgba(206, 205, 205, 0.849);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 92%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 50px;
  font-family: Poppins;
  font-weight: 700;
  transition-duration: 0.3s;
}
.cash:hover {
  background-color: rgba(185, 184, 184, 0.849);
}
.cash:focus {
  background: #003366;
  color: white;
}

.card {
  background-color: rgba(206, 205, 205, 0.849);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 92%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 50px;
  font-family: Poppins;
  transition-duration: 0.3s;
  font-weight: 700;
}

.active,
.card:hover {
  background-color: rgba(185, 184, 184, 0.849);
}

.card:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.card:focus {
  background-color: #003366;
  color: white;
}
.cardcontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f2f2f2;
  margin-left: 50px;
  width: 89%;
  display: flex;
}

.cardcontent .inputBox {
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
}
.cardcontent .inputBox input,
.cardcontent .inputBox select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #444;
  margin-bottom: 10px;
}

.cardcontent form .flexbox {
  display: flex;
  gap: 15px;
}

/*submit buttons styling*/
.confirm {
  margin-top: 50px;
  display: inline-flex;
}
.confirm #submit-btn3 {
  background-color: #003366;
  padding: 8px 14px;
  font-size: 22px;
  font-family: Poppins;
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
  margin-left: 50px;
  position: relative;
}

.confirm #submit-btn3:hover {
  color: white;
}
.confirm #submit-btn3::before {
  content: "";
  position: absolute;
  display: block;
  width: 80%;
  height: 2px;
  bottom: 10px;
  left: 14px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.confirm #submit-btn3:hover::before {
  transform: scaleX(1);
}

/*footer stlying*/
.footer {
  background-color: #333;
  color: #ffffff;
  margin-bottom: -100px;
  margin-top: 10px;
  padding: 10px 10px;
}
.footer h3 {
  padding-left: 30px;
}
.footer li {
  list-style: none;
  margin-bottom: 2px;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.footer .msg {
  font-family: monospace;
  opacity: 0.5;
  text-align: right;
}
