@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap");
body {
  margin: 0px;
  font-family: Poppins, Helvetica, sans-serif;
}

/*Navigation bar styling*/
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  transition-duration: 0.3s;
  position: relative;
}
.topnav a:hover {
  color: white;
}
.topnav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 80%;
  height: 2px;
  top: 37px;
  left: 14px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.topnav .home::before {
  width: 66%;
}
.topnav .drive::before {
  width: 69%;
}
.topnav .mission::before {
  width: 76%;
}
.topnav .login::before {
  background-color: transparent;
}
.topnav .login:hover {
  background-color: white;
  color: black;
}

.topnav a:hover::before {
  transform: scaleX(1);
}
.topnav a.home {
  background-color: #003366;
}
.topnav a.login {
  float: right;
  margin-right: 0px;
}
/* main page*/
/*Background Photo by Kimon Maritz on Unsplash*/
.main {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
  overflow: hidden;
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #0099ff2f;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: #ffffff;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #003366;
  border-radius: 30px;
  transition: 0.5s;
}
#signin-btn {
  color: black;
  margin-left: 10px;
}
.text {
  margin: 30px auto;
  text-align: center;
  font-size: 10px;
}
.input-grp {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #113366;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #ffffff;
}
.checkbox {
  margin: 30px 10px 30px 0;
}
span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login {
  left: 50px;
}
#register {
  left: 450px;
}
